QDRANT_API_KEY=d4m*******************
QDRANT_CLUSTER_ENDPOINT=https://*********************************.aws.cloud.qdrant.io

GEMINI_API_KEY=AIza**************

REDIS_HOST=redis
REDIS_PORT=6379

HOST=0.0.0.0
PORT=8000

